a.cart-plant-link {
  color: black;
  text-decoration: none;
}

a.cart-plant-link:hover {
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.cart-plant-link.confirmed {
  color: black;
	text-decoration: none;
}

.cart-plant-link.confirmed:hover {
  text-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.custom-navbar {
  /* background-color: #1966b3; */
  background-color: #0e458f;
}
